<h1>Sign in to Chitter</h1>

<form method='post' action='/sessions'>
  Username: <input name='username' type='text'><br/>
  Password: <input name='password' type='password'>
  <input type='submit' value='Sign in'>
</form>