<h1>Sign in to Chitter</h1>

<form method='post' action='/sessions'>
  Username:<br/>
  <input name='username' type='text' size='50'><br/>
  Password:<br/> 
  <input name='password' type='password' size='50'><br/>
  <input type='submit' value='Sign in'>
</form>