<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <title>Chitter</title>
  </head>
  <body>
    <%= partial :header %>   
    <%= partial :flash %>      
    <%= yield %>
  </body>
</html>